@font-face {
	font-family: "URW Gothic";
	src: url(/fonts/urw_gothic_l_demi.ttf);
}

@font-face {
	font-family: "Gustatory Delight Regular";
	src: url(/fonts/GustatoryDelightRegular-rgX3L.ttf);
}

:root {
	height: 100vh;
	background: 100% 100% url("/background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	font-family: "URW Gothic";
	display: flex;
	justify-content: center;
}
