@font-face {
	font-family: "URW Gothic";
	src: url(/fonts/urw_gothic_l_demi.ttf);
}

:root {
	font-family: "URW Gothic";
	color-scheme: light;
	display: flex;
	justify-content: center;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
