.app_container {
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	padding: 10px;
	backdrop-filter: blur(10px);
	box-shadow: 0px 0px 20px rgba(80, 80, 80, 0.5);
	background-color: rgba(255, 255, 255, 0.2);
	min-width: 378px;
	max-width: 1024px;
	flex-wrap: wrap;
	width: 1024px;
}

a {
	display: inline;
	flex-direction: row;
}
@media (min-width: 801px) and (max-width: 1024px) {
}

/* Desktop styles */
@media (min-width: 768px) and (max-width: 800px) {
}
/* Mobile styles */
@media (max-width: 767px) {
}
