.header {
	&_containter {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}
	&_logo_box {
		text-transform: capitalize;
		display: flex;
		flex-direction: row;
		justify-content: center;
		&__option {
			display: flex;
			color: #000;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				color: #ccc;
			}
			&-beautified {
				font-family: "Gustatory Delight Regular";
				text-decoration: none;
				color: #000;
				font-size: 80px;
				font-weight: 400;
			}
		}
	}
	&_menu {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 20px;
		&__option {
			color: #000;
			text-decoration: none;
			display: flex;
			text-transform: capitalize;
			font-size: 28px;
		}
	}
}
